article{
    background-color: var(--color-gray1);
    border-radius: var(--radius-1);
    display: flex;
    flex-direction: column;
    padding: 1em;
    width: 70%;
    margin: 5em 1em;
    min-height: 50vh;
}

article p{
    margin-left: 3em;
}
article h1{
    margin: 1em 1em;
    color: var(--color-lightblue);
}
article img{
    width: 100%;
    max-height: 50vh;
    border-radius: var(--radius-1);
    object-fit: cover;
}

#top{
    display: flex;
    flex-direction: row;
}
#liste_articles{
    width: 30%;
    margin: 5em 1em;
    background-color: var(--color-gray1);
    border-radius: var(--radius-1);
    display: flex;
    flex-direction: column;
    padding: 1em;
}
#liste_articles h1{
    color: var(--color-lightblue);
    font-size: 1.5em;
    margin: 0.2em 0 0 0.5em;
}
#liste_articles p{
    font-size: 1em;
    margin-top: 0;
    margin-left: 2em;
}
.article-unique{
    background-color: white;
    padding: 0.5em;
    border-radius: var(--radius-1);
    margin: 0.5em 0;
}